.svgCurve{
    position: absolute;
    top: 0;
    left: -99px;
    width: 100px;
    height: 100%;
    fill: rgb(41, 41, 41);
    stroke: none;
    z-index: 4;
}

@media screen and (max-width:500px){
    .svgCurve{
        display: none;
    }
}