.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    /* padding: 5% 0; */
}

.click{
    display: none;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.ds, .sd{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
}

.h1{
    margin: 100px auto 0 auto;
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    color: #635f5f;
}

.h2{
    font-size: 30px;
}

.row{
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.more{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:750px){
    .row{
        width: 600px;
    }
}

@media only screen and (max-width:600px){
    .row{
        width: 500px;
    }
}

@media only screen and (max-width:500px){
    .h1{
        margin-bottom: 50px;
    }
    .click{
        display: block;
    }
    .row{
        width: 350px;
    }
}

@media only screen and (max-width:350px){
    .row{
        width: 300px;
    }
}