.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: #fff;
    /* padding: 5% 0; */
}

.click{
    display: none;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.ds, .sd{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.h1box{
    width: 1050px;
    position: relative;
    padding: 0 0 10px 0;
}

.h1{
    font-size: 15px;
    font-weight: 200;
    text-transform: uppercase;
    color: #635f5f;
}

.h2{
    font-size: 30px;
}

.row{
    width: 1050px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.more{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .circleContainer{

    position: relative;
    width: 100%;
    overflow: hidden;
    background: #fff;

    .circle{
        height: 200%;
        width: 120%;

        left: -10%;
        border: 1px;
        border-radius: 0 0 50% 50%;

        background-color: white;

        z-index: 1;

        position: absolute;

        box-shadow: 0px 90px 10px ;

    }

} */

@media screen and (max-height:660px){
    .container{
        height: 110vh;
    }
}

@media only screen and (max-width:1300px){
    .row,.h1box{
        width: 950px;
    }
}

@media only screen and (max-width:750px){
    .row,.h1box{
        width: 600px;
    }
}

@media only screen and (max-width:600px){
    .row,.h1box{
        width: 500px;
    }
    
}

@media only screen and (max-width:500px){
    
    .click{
        display: block;
    }
    .row,.h1box{
        width: 350px;
    }
    .h1box{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 50px 0;
        margin: 50px 0;
    }
    
}

@media only screen and (max-width:350px){
    .row,.h1box{
        width: 300px;
    }
}