@viewport{
  viewport-fit: cover;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  /* scroll-behavior: auto; */
}

body{
  overflow-x: hidden;
  height: auto;
}

main{
  width: 100vw;
  
  overflow-x: hidden;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

