.container{
  width: 100vw;
  height: 100vh;
  background: #b1a9a9;
  /* background: -webkit-linear-gradient(180deg,#999494,#a09e9e); */

  overflow: hidden;
  position: relative;

  .me{
    position: absolute;
    bottom: 0;
    left:15%;
    z-index: 2;
    /* filter: grayscale(90%); */
    transition: filter 0.3s ease-in;
    height: clamp(400px, 90vh,1000px);
  }

  .box{
    width: 100vw;
    height: 100vh;
    padding: 0 18%;

    .intro{
      width: 50%;
      /* background: -webkit-linear-gradient(180deg, black, black, rgb(89, 89, 89));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; */
      margin-left: 45%;
      height: 50%;
      padding-top: 15%;
      display: flex;
      flex-direction: column;
      gap: 2;

      .greet{
        font-size: 25px;
        margin-bottom: 10px;
        display: inline;
      }   
      
      .heading{
        font-size: 45px;
        margin-bottom: 20px;
        color: #fff;
        display: inline;
      }

      .para{
        color: #fff;
        font-size: 25px;
        display: inline;
      }
    }
  }

  .parallaxbox{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: clamp(40px,2%,80px);
    gap: 2;
  }

  .parallax {
    
    overflow: hidden;
    letter-spacing: -2px;
    line-height: 0.8;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    
  }
  
  .parallax .scroller {
    font-weight: 400;
    /* text-transform: uppercase; */
    font-size: 150px;
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .parallax span {
    display: block;
    margin-right: 30px;
    background: -webkit-linear-gradient(180deg,rgb(201, 198, 198), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media only screen and (max-width:1100px){
  .container{
    .me{
      left: 10%
    }
  }
}

@media only screen and (max-width:900px){
  .container{
    .me{
      left: 5%;
    }

    .box{
      padding: 0 5%;

      .intro{
        width: 60%;
        margin-left: 50%;
      }
    }

    .cursor{
      display:none;
    }
  }
}

@media only screen and (max-width:900px){
  .container{
    .me{
      left: 5%;
      height: 60vh;
    }

    .box{
      padding: 0 5%;

      .intro{
        width: 60%;
        margin-left: 50%;
      }
    }
  }
}

@media only screen and (max-width:768px){
  .container{

    .me{
      width: 300px;
      left: -10%;
    }

    .box{
      .intro{
        margin-left: 0;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width:425px){
  .container{
    height: 90vh;
    .me{
      left: -18%;
      width: 250px;
      height: 50vh;
    }
    .box{
      .intro{
        .greet{
          font-size: 20px;
        }
        .heading{
          font-size: 35px;
        }
        .para{
          font-size: 20px;
        }
      }
    }
    .parallax .scroller{
      font-size: 75px;
    }
    
  }
}

@media screen and (max-height:660px){
  .container{
    .box{
      .intro{
        padding-top: 5%;
      }
    }

    .parallax .scroller{
      font-size: 80px;
    }
    
  }
}