.project{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 50px 100px;
    border-top: 1px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: all 0.2s;
}
.project:last-of-type{
    border-bottom: 1px solid rgb(201, 201, 201);
}

.project:hover{
    opacity: 0.5;
}

.project:hover h2{
    transform: translateX(-10px);
    opacity: 0.3;
}

.project:hover p{
    transform: translateX(10px);
    opacity: 0.3;
}

.project h2{
    font-size: 70px;
    margin: 0px;
    text-transform: uppercase;
    font-weight: 400;
    transition: all 0.4s;
}

.project p{
    transition: all 0.4s;
    font-size: 20px;
    font-weight: 300;
}

@media only screen and (max-width:750px){
    .project{
        padding: 50px 0;
    }

    .project h2{
        font-size: 40px;
    }

    .project p{
        font-size: 12px;
    }
}

@media only screen and (max-width:600px){

    .project h2{
        font-size: 30px;
    }
}

@media only screen and (max-width:500px){

    .project h2{
        font-size: 20px;
    }

    .project p{
        font-size: 10px;
    }
}